﻿<div class="rental-confirmation">
    <h2>Dziękujemy za złożenie zamówienia!</h2>
    <p style="text-align: center">Twoja rezerwacja została pomyślnie złożona.</p>
    <button onclick="location.href='@Url.Action("Index", "Home")'" class="btn btn-primary">Wróć do strony głównej</button>
</div>
