﻿@{
    ViewData["Title"] = "HowItWorks";
}

<div class="howItWorksPanel">
    <div class="howItWorksHeader"><h1>Jak Działa Nasz Wynajem?</h1></div>
    <div class="howItWorksCards">
        <div class="howItWorksCards-iteam" id="card1">
            <img src="~/images/jaktodziala1.svg">
            <h2>Wypełnij formularz online</h2>
            <p>Zarezerwuj swój samochód w Panelu Rezerwacyjnym, zadzwoń, napisz maila lub skontaktuj się z nami poprzez social media – zależnie, która metoda jest dla Ciebie najwygodniejsza. Złożenie rezerwacji zajmie Ci najwyżej kilka minut.</p>
        </div>
        <div class="howItWorksCards-iteam" id="card2">
            <img src="~/images/jaktodziala2.svg">
            <h2>Poczekaj na potwierdzenie</h2>
            <p>Teraz potwierdzamy rezerwację i przygotowujemy Twój samochód. Daj nam chwilę – właśnie dokładamy wszelkich starań, aby każdy detal zachwycał Cię swoją perfekcją przez całą podróż. Powinieneś otrzymać wiadomość e-mail z informacją o zatwierdzeniu rezerwacji.</p>
        </div>
        <div class="howItWorksCards-iteam" id="card3">
            <img src="~/images/jaktodziala3.svg">
            <h2>Odbierz auto i ruszaj w drogę</h2>
            <p>Wszystko gotowe. Wsiadaj i jedź, dokąd tylko pragniesz. Delektuj się tym doświadczeniem – jest niepowtarzalne.</p>
        </div>
    </div>

</div>

<div class="box"></div>

<div class="contentJakToDziala">
    <div class="contentJakToDziala-iteam">
        <img src="~/images/JTD_krotki_termin (Mały).jpg" alt="">
        <div class="contentJakToDziala-content">
            <h1>Wynajem krótkoterminowy</h1>
            <p>
                Nasza wypożyczalnia samochodów sportowych i luksusowych oferuje krótkoterminowy wynajem na każdą okazję. Zapewniamy serwis i pełne ubezpieczenie wynajmowanych aut oraz całodobową infolinię. Okres tego typu wynajmu może trwać od kilku godzin do 1 roku. Tak, dokładnie, wynajmujemy też na godziny. Jest to więc świetna opcja dla osób potrzebujących samochodu na specjalne okazje (np. urodziny bliskiej osoby), kilkudniowe spontaniczne wypady ze znajomymi lub krótką delegację służbową. Krótkoterminowy wynajem sportowego samochodu sprawdzi się też idealnie, gdy potrzebujesz zastrzyku adrenaliny i chcesz wypróbować naprawdę mocny samochód lub gdy przymierzasz się do zakupu i chcesz upewnić się, że to będzie dobry wybór. Pilnie potrzebujesz samochodu tylko na kilka godzin?
                Skontaktuj się z nami – sprawdzimy, co da się zrobić! Możesz na nas liczyć w każdej sytuacji.
            </p>
        </div>
    </div>
    <div class="contentJakToDziala-iteam">
        <div class="contentJakToDziala-content">
            <h1>Abonament</h1>
            <p>
                Dajemy naszym klientom możliwość wykupienia rocznego abonamentu na nasze samochody – opłacanego z góry lub w miesięcznych ratach, w zależności od tego, jak będzie Ci wygodniej. To atrakcyjna cenowo i bardzo praktyczna alternatywa dla wynajmu długoterminowego, pozwalająca korzystać z wielu samochodów sportowych i luksusowych w czasie trwania jednej umowy – pozwala testować nowe samochody za ułamek ich rynkowej ceny.

                Możesz dowolnie konfigurować taki abonament, wynajmując w jego zakresie, którykolwiek z naszych samochodów. Na dany miesiąc możesz wybrać dowolny ze skonfigurowanych samochodów – dzięki temu możesz w jednym roku przetestować nawet kilkadziesiąt różnych maszyn. I to bez konieczności wiązania się długoterminową umową oraz martwienia się ubezpieczeniem i kosztami eksploatacyjnymi!
            </p>
        </div>
        <img src="~/images/JTD-dlugi_termin-e1648157615990 (Mały).jpg" alt="">
    </div>
    <div class="contentJakToDziala-iteam">
        <img src="~/images/JTD-dlugi_termin-1 (Mały).jpg" alt="">
        <div class="contentJakToDziala-content">
            <h1>Wynajem długoterminowy</h1>
            <p>Usługa długoterminowego wynajmu samochodu jest świetną alternatywą dla leasingu – dzięki niej możesz użytkować fabrycznie nowe auta w niewyobrażalnie niskich cenach. W ramach długoterminowej umowy możesz zmieniać samochód co 2 lub 3 lata – zawsze będziesz więc mieć do dyspozycji praktycznie nowe auto. Poleca się go szczególnie firmom, gdyż usługa ta nie zmniejsza zdolności kredytowej i ułatwia planowanie budżetu ze względu na stałe, przewidywalne koszty. Dzięki temu możesz zbudować firmową flotę w bardzo korzystnej cenie i bezproblemowo wymieniać ją co kilka lat. Opcjonalnie możesz też wykupić wliczane w cenę ubezpieczenie, pakiet serwisowy i wymianę ogumienia. Niemal wszystkie formalności możesz załatwić przez internet – jedynie odbiór samochodu i podpisanie umowy musi się odbyć osobiście.</p>
        </div>
    </div>
    <div class="contentJakToDziala-iteam">
        <div class="contentJakToDziala-content">
            <h1>Auto do ślubu</h1>
            <p>
                Ślub i wesele to szczególne okazje, które zasługują na równie niepowtarzalną oprawę. Cylindersi oferują Młodym Parom z Warszawy i okolic a również z całej Polski, wynajem ekskluzywnych, stuprocentowo niezawodnych samochodów przygotowanych właśnie na tę wyjątkową okazję. I to przy minimum formalności!

                Zdajemy sobie sprawę, jak dużo macie na głowie w tym wyjątkowym dla Was dniu. Dlatego podstawiamy umyte i nawoskowane auto udekorowane zgodnie z życzeniem Państwa Młodych, a nawet zapewniamy kierowcę do Państwa dyspozycji na ten szczególny dzień. Weźmiemy też na siebie koszty paliwa i opłat przejazdowych. Gwarantujemy pełen profesjonalizm i najwyższą jakość usługi. A wszystko po to, by ten niezwykły dzień przebiegł idealnie i bez zakłóceń.
            </p>
        </div>
        <img src="~/images/content_img3 (Mały).png" alt="">
    </div>
    <div class="contentJakToDziala-iteam">
        <img src="~/images/JTD-wspolpraca (Mały).jpg" alt="">
        <div class="contentJakToDziala-content">
            <h1>Współpraca</h1>
            <p>
                Jesteś właścicielem sportowego samochodu i obawiasz się szybkiego spadku jego wartości? Chcesz jeździć na co dzień luksusowymi samochodami, korzystając z nich na zasadach barteru? Nasz Program Współpracy jest właśnie dla Ciebie! Biorąc w nim udział i wstawiając swoje auto do naszej wypożyczalni, zapewnisz sobie stałe zarobki w rekompensujące charakterystyczny dla sportowych samochodów szybki spadek wartości.

                Da Ci to również barterowy dostęp do całej naszej floty z pierwszeństwem rezerwacji oraz wstęp na specjalne eventy organizowane wyłącznie dla naszych Partnerów. Wszystkie powierzone nam samochody są pod stałą kontrolą monitoringu, a korzystających z nich klientów dobieramy z najwyższą starannością, upewniając się, że nie trafi w nieodpowiednie ręce. Gwarantujemy więc bezpieczeństwo Twojego auta.
            </p>
        </div>
    </div>
</div>